@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

body,
html {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;

    font-size: 16px;
    color: #ececec;

    background-color: #0f0f0f;

    animation-name: opacity;
    animation-duration: 0.4s;
    animation-iteration-count: initial;

    word-wrap:break-word;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

li {
    padding-bottom: 10px;
}

a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: orange;
    transition: 0.2s;
}

a:hover {
    color: orangered; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #e9e9e9;
}

p {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.content {
    width: 100%;
}

/* INTRO */

.intro {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10vh;
}

.intro__heading {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.intro__heading__text {
    width: 60%;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.intro__heading__img {
    width: 30%;
}

.intro__buttons {
    display: flex;
    align-items: flex-start;
    margin-top: 5vh;
}

.intro__button {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    border-radius: 50px;
    border: 3px solid orange;
    color: orange;
    padding: 10px 40px;
    margin: 20px 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.intro__button:first-child {
    margin-right: 30px;
}

.intro__button:hover {
    color: orangered; 
    border: 3px solid orangered;
}

.falling-text {
    position: relative;
    opacity: 0;
    animation: fall 1.2s ease-in-out forwards;
  }
  
  @keyframes fall {
    0% {
      top: 50px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }


.image-animation {
    position: relative;
    animation: image-appear 1.2s ease-in-out forwards, image-sway 5s ease-in-out infinite alternate;
  }
  
  @keyframes image-appear {
    from {
      top: 50px;
    }
    to {
      top: 0;
    }
  }
  
  @keyframes image-sway {
    from {
      transform: translateY(0px) rotate(0deg);
    }
    to {
      transform: translateY(10px) rotate(3deg);
    }
  }

/* ABOUT */

.about {
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    padding: 10vh 0 10vh;
}

.about__heading {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 5vh;
}

.about__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-image: url("/img/pattern.png"); */
}

.about__text {
    width: 60%;
    font-size: 22px;
}

.about__img {
    width: 35%;
    object-fit: cover;
}


/* REFUND__POLICY */

.refund__policy {
    width: 100%;
    padding: 5vh 10% 80px;
}

.refund__policy__heading {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 5vh;
}

.refund__policy__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.refund__policy__column {
    width: 45%;
    font-size: 22px;
    align-items: center;
}

.refund__policy__img {
    width: 100%;
    object-fit: cover;
    padding: 15% 25% 25%;
}

/* FOOTER */

.footer {
    padding-top: 40px;
    padding-bottom: 120px;
    background-color: #131313;
    bottom: 0;
    
}
.footer__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.footer__link {
    color: #ececec;
    transition: linear 0.1s;
}

.footer__link:hover {
    color: orange;
}

.footer-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer__el {
    margin-top: auto;
    margin-bottom: auto;
}

.footer__about {
    width: 25%;
}
.footer__contacts {
    width: 25%;
}